.header {
	margin-bottom: 100px;
}
.container {
	max-width: 1500px;
	margin: 0 auto;
}
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 30px 30px 0;
	text-align: center;
}
.menu {
	display: flex;
	&-left {
		gap: 0 40px;
		li {
			padding-bottom: 15px;
		}
		.toggler {
			padding-top: 12px;
			padding-right: 0;
		}
	}
	&-item {
		text-transform: uppercase;
		padding: 20px;
		font-size: 16px;
		@media(max-height:420px) {
			padding: 15px;
		}
		a, &.login span {
			cursor: pointer;
			background: linear-gradient(to right, var(--text-color-active), var(--text-color-active));
			background-size:0 3px;
			background-position: 0 100%;
			background-repeat: no-repeat;
			transition: .4s;
			&:hover {
				background-size:100% 3px;
			}
		}
		.active {
			background-size: 100% 3px;
		}	
	}
}
.register {
	padding-left: 0;
	a {
		background-color: var(--register-color);
		padding: 20px;
		transition: .5s;
		color: white;
		&:hover {
			background-color: var(--register-color-hover);
			background-size: 0;
		}
	}
}
.profile {
	margin-right: 90px;
}
.logo {
	width: 70px;
	border-radius: 10px;
	margin-right: 150px;
	box-shadow: 1px 1px 30px rgb(0, 60, 255);
}
.menu-mobile {
	display: none;
	text-align: center;
	padding: 100px 30px 50px;
	width: 250px;
	background-color: var(--burger-color-bg);
	position: fixed;
	transform: translateX(-300px);
	transition: .7s;
	z-index: 10;
	box-shadow: 1px 1px 15px rgb(0, 98, 255);
	@media (max-height:520px) {
		padding-top: 60px;
	}
	&-item {
		margin: 30px 0;	
		color: var(--burger-color-text);
		@media(max-height:520px) {
			margin: 20px;
		}
		@media(max-height:420px) {
			margin: 0;
		}
	}
	.register {
		margin-left: 30px;
	}
}
.menu-mobile-toggler {
	display: none;
}
@media(max-width:1050px) {
	.nav-left, .nav-right {
		display: none;
	}
	.nav {
		justify-content: space-evenly;
	}
	.logo {
		margin: 0;
	}
	.menu-mobile {
		display: block;
	}
	.menu-mobile.active {
		transform: translateX(0px);
	}
	.menu-mobile-toggler {
		display: block;
		position: absolute;
		right: 30px;
	}
}
