@import './CustomSelects.scss';
.select-form {
	display: flex;
	gap: 20px;
	align-items: center;
	justify-content: center;
	margin: 30px auto 0;
	@media(max-width:900px) {
		flex-direction: column;
	}
	.date-container {
		display: flex;
		gap: 0 10px;
		@media(max-width:500px) {
			flex-direction: column;
		}
	}
	.select-container {
		width: 20%;
		@media(max-width:900px) {
			width: 70%;
		}
	}
}
